<footer class="flex wrapper py-xl bg-dark text-light">
    <div class="flex-1">
        <div class="bold">Title</div>
        <div>Footer item</div>
        <div>Footer item</div>
        <div>Footer item</div>
        <div>Footer item</div>
        <div>Footer item</div>
    </div>
    <div class="flex-1">
        <div class="bold">Title</div>
        <div>Footer item</div>
        <div>Footer item</div>
        <div>Footer item</div>
        <div>Footer item</div>
        <div>Footer item</div>
    </div>
    <div class="flex-1">
        <div class="bold">Title</div>
        <div>Footer item</div>
        <div>Footer item</div>
        <div>Footer item</div>
        <div>Footer item</div>
        <div>Footer item</div>
    </div>
    <div class="flex-1">
        <div class="bold">Title</div>
        <div>Footer item</div>
        <div>Footer item</div>
        <div>Footer item</div>
        <div>Footer item</div>
        <div>Footer item</div>
    </div>
</footer>