<nav class="wrapper-x items-center bg-primary text-light flex justify-between full-width fixed-top">
    <div class="logo bold sub-title">Hestia</div>
    <div class="nav-items flex">
        <div class="nav-item text-light px-md">
            <a href="{% url 'home' %}"> Home</a>
        </div>
        <div class="nav-item text-light px-md">
            <a href="{% url 'about' %}"> About</a>
        </div>
        <div class="nav-item text-light px-md">Popular</div>
        <div class="nav-item text-light px-md">Realtors</div>
        <div class="nav-item text-light px-md">Featured</div>
        <div class="nav-item text-light px-md">Contact</div>
    </div>
</nav>